# Created by .ignore support plugin (hsz.mobi)
.gitignore
web/WEB-INF/classes/
web/WEB-INF/lib/
out/artifacts
log/test.log
.idea
#lib/hibernate-core-5.4.0.Final.jar
#lib/odmg-3.0.jar
#src/Action/
#src/com/oracle/
#src/hibernate.cfg.xml
#src/struts.xml
